:root {
    --main:      #6F7DAF;
    --secondary: #D4E1FB;
    --tertiary:  #FDF8F5;
    --textOne:   #4F4846;
    --light:     #FFF;
    --dark:      #000; 
}

/* Universal Selector */
* {
    margin:0;
    padding:0;  
  }
  
  /* Element Selectors */

  html {
    font-size: 100%;
  }
  body {
    font-family: "Uchen", "Roboto", sans-serif;
    background-color: var(--light);
    color: var(--textOne);
  }
  
  h1, h2, h3 {
    margin: 20px 1% 20px 1%;
  }

  
  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.6em;
    margin-bottom: 10px;
  }

  main {
    padding: 60px 0 0 0;
  }
  
  li {
    display: inline;
    padding: 0px 4%;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: var(--tertiary);
  }
  
  a:hover {
    color: var(--dark);
  }
  
  header,
  footer {
    height: 60px;
    width: 100%;
    /* line-height: 55px; */
    background-color: var(--main);
  }
  
  header {
    position: fixed;
    border-bottom: 10px solid var(--secondary);
    z-index: 25;
  }
  
  footer {
    margin-top: 0;
    border-bottom: 10px solid var(--dark);
    color: var(--tertiary);    
  }
  
  figure {
    margin-bottom: 25px;
  }
  
  img {
    display: block;
    margin: 0 auto 5px auto;
    /* height: 500px;
    max-height: 60%; */
    /* border-radius: 0% 0% 150% 150%; */
    max-width: 100%;
  }
  
  section {
    margin-bottom: 0;
    padding: 0px 10px 20px 10px;
    border-top: 3px solid var(--secondary);
    background-color:  var(--secondary);
  }
  
  form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    border: 5px solid var(--main);
    border-radius: 20px;
  }
  
  .contactForm {
    display: block;
    color: white;
  }
    
  input, 
  textarea {
    box-sizing: border-box;
    width: 60%;
    border: 1px solid var(--dark);
  }
  
  textarea {
    vertical-align: top;
    height: 60px;
  }
    
  button {
    height: 40px;
    width: 25%;
    background-color: var(--secondary);
    color: var(--dark);
    margin-top: 10px;
    border: 2px solid var(--main);
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--main);
    color: var(--light);
    border: 2px solid var(--light);
  }
   
  /* Class Selectors */
  
  /* header */

  header nav ul, footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
header nav ul li, footer nav ul li {
    margin-top: 16px;
}

footer nav ul li {
    margin-bottom: 16px;
}

hr {
    width: 100%;
    border: 2px solid var(--light);
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 25px grey;
}

/* hero section */

.hero {
    padding: 0px 10px 20px 10px
}

.hero img {
    border-radius: 0% 0% 150% 150%;
}

/* end hero section */

/* work section */

#work-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
}

.card-row a {
    color: var(--textOne);
}

.code-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

  .text-center, .text-align {
    text-align: center;
  }
  
  /* .text-right {
    text-align: right;
  } */

#about, #work, #contact {
    width: 100%;
}
  

#about p {
    line-height: 24px;
    text-align: center;
}

#contact h2 {
    margin-top: 0px;
}

#name {
    margin-bottom: 10px;
}


#contact .moreLinks ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* responsive */

@media screen and (min-width: 786px) {


    /* navbar */
    /* header nav ul, footer nav ul {
        justify-content: end;
    } */

    /* hero section */
    .hero figure img {
        max-width: 50%;
    }

    /* about section */

    #about, #contact {
        background-color: var(--main);
        color: var(--tertiary);
    }

    /* work section */

    section {
        border-top: none;
    }

    section h2 {
        padding-top: 20px;
        margin-top: 0px;
    }
    .card-row {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0em 1.3em 0em 1.3em;
    }

    #work-cards {
        padding-bottom: 0px;
    }

    #work-cards .card-row a .code-card img {
        width: 250px;
        height: 250px;
        margin-top: 12.11%;
    }

    #work-cards .card-row a .code-card hr {
        margin-bottom: 12.11%;
    }

    .code-card {
        border: 20px ridge var(--main);
    }

    .code-card-margin {
        margin-bottom: 0px;
    }

    /* contact section */

    #contact form {
        background: var(--secondary);
        padding: 2.5% 10px 2.5% 10px;
    }

    #contact form ul {
        color: var(--dark);
        padding-bottom: 2.5%;
    }

    button {
        margin-top: 0px;
    }

    /* footer */
    
    footer {
        background-color: var(--secondary);
    }

    footer a {
        color: var(--dark);
    }
}

@media screen and (min-width: 992px) {

  #work-cards .card-row a .code-card .card-header, #work-cards .card-row a .code-card hr {
    padding: 0 25% 0 25%;
  }
}

@media screen and (min-width: 1250px) {
  
  /* navigation */

  header nav ul {
    justify-content: end;
  }

  /* main content */

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  h1 {
    font-size: 4em;
    margin: 50px 1% 50px 1%;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    text-align: center;
  }

  section h2, #contact h2 {
    margin: 25px 1% 25px 1%;
    padding-bottom: 20px;
  }

/* hero section */
  .hero {
    order: 1;
  }

  /* work section */

  #work {
    order: 2;
  }

  #work-cards {
    align-items: initial;
    margin-bottom: 20px;
  }

  .card-row {
    flex: 0 0 25%;
  }

  .card-row button {
    width: 100%;
    height: 100%;
    border: none;
  }

  .code-card {
    padding: 0 5px 0 5px;
  }

  .code-card-margin-full {
    margin-bottom: 0px;
  }

  #work-cards .card-row a .code-card .card-header, #work-cards .card-row a .code-card hr {
    padding: 0 5% 0 5%;
  }

  /* color wheel card */
  .color-wheel {
    position: relative;
    top: -15px;
    left: 50px;
    z-index: 20;
  }

  .color-wheel a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: scale(1.3) rotate(4deg);
    transform: scale(1.3) rotate(4deg);  
  }

  /* rest of cards card */

  .hvr-grow-rotate:hover {
    -webkit-transform: scale(1.3) rotate(4deg);
    transform: scale(1.3) rotate(4deg);
    position: relative;
    z-index: 22;
  }

  #freedom .hvr-grow-rotate:hover {
    position: relative;
    right: 50px;
  }

  #awesome .hvr-grow-rotate:hover, #freedom .hvr-grow-rotate:hover {
    -webkit-transform: scale(1.3) rotate(-4deg);
    transform: scale(1.3) rotate(-4deg);
    z-index: 10;
  }

  .color-wheel a figure, .cheatsheet a figure, #awesome a figure, #freedom a figure {
    background: var(--secondary);
  }

   /* contact and about row */
   #contact, #about {
    order: 3;
    width: 50%;
  }

  #about {
    border-right: 5px solid var(--light)
  }

  #contact {
    border-left: 5px solid var(--light)
  }

  #about p {
    padding: 0 10% 0 10%;
  }

  #contact form {
    background: var(--main);
    padding: 0px;
  }
  .form-label {
    display: none;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
  }

  #contact form ul {
    padding-bottom: 0px;
  }

  #contact form ul, #contact form .text-center {
    width: 100%;
  }

  #contact form ul li {
    padding: 0 25%;
  }

  #contact form ul li input {
    padding: 0;
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 30px;
    border-radius: 20px;
  }

  #contact form ul li input::placeholder {
    font-size: 1em;
    color: var(--dark);
    font-family: 'Uchen';
    opacity: 50%;
}

  button {
    border-radius: 20px;
  }
}